.header {
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)),
    url("../../img/hero-small.jpg");

    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include respone(tab-port) {
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    &__logo {
        height: 2.5rem;
    }

    &__text-box {
        color: $color-white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        .heading-primary {
            text-transform: uppercase;

            &--main {
                font-size: 5.5rem;
                display: block;
                letter-spacing: 2rem;

                animation-duration: 1s;
                animation-name: moveInLeft;
                animation-timing-function: ease-out;
                transition: all .4s;

                @include respone(phone) {
                    font-size: 4rem;
                    letter-spacing: 1rem;
                }
            }

            &--sub {
                font-size: 1.5rem;
                display: block;
                letter-spacing: 1.4rem;

                animation-duration: 1s;
                animation-name: moveInRight;
                animation-timing-function: ease-out;
                transition: all .4s;

                @include respone(phone) {
                    font-size: 1.3rem;
                    letter-spacing: 0.7rem;
                }
            }
        }
    }
}