.feature-box {
    background-color: rgba($color-white, 0.8);
    text-align: center;
    padding: 2rem; 
    transition: transform 0.3s;
    border-radius: 3px;
    box-shadow: 0 0 3rem rgba($color-black, 0.2);

    &__icon {
        font-size: 4.5rem;
        display: inline-block;
        background-image: linear-gradient(
            to right bottom, 
            $color-primary-light, 
            $color-primary-dark);

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
    &:hover {
        transform: scale(1.05) translate(0, -1rem);
        -webkit-transform: scale(1.05) translate(0, -1rem);
        -moz-transform: scale(1.05) translate(0, -1rem);
    }
}