*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 80%;
    
    @include respone(big-desktop) {
        font-size: 90%;
    }

    @include respone(tab-land) {
        font-size: 70%;
    }

    @include respone(tab-port) {
        font-size: 60%;
    }

    @include respone(phone) {
        font-size: 50%;
    }
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    padding: 1.5rem;
    line-height: 1.7;
    background-color: $color-white;

    @include respone(phone) {
        padding: 0;
    }
}