.heading-secondary {
    text-transform: uppercase;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.8rem;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    transition: all 0.2s;

    &:hover {
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: 0.5rem 1rem 1rem rgba($color-black, 0.2);
    }

    @include respone(phone) {
        font-size: 2rem;
    }
}

.heading-teriary {
    color: $color-grey-dark;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.paragraph {
       color: $color-grey-dark;
       font-size: 1.2rem;
}